@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

html {
  font-family: 'Pacifico', cursive;
  background-color: #E5C3A6;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#game-container {
  margin: 5px;
  border: 1px solid;
}

#color-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 5px;
  border: 1px solid;
}